@charset "utf-8";
/* CSS Document */

* { margin: 0;  padding: 0;}  /*消除顶部空白*/  



body {
    background: url(../img/background/7.jpg) no-repeat;
    background-size: cover;
	font-size: 18.5px;
    margin: 0;
}

.ribbon{
	line-height: 160%;
	font-size: 16px;
}

#ach{
	margin: 0px 25px 0px 25px;
	line-height: 160%;
	font-size: 16px;
}

.img1{
	width:97%;
	height:400px;
}
.img1 img:first-child{
	float:left;
}
.img1 img:last-child{
	float:right;
}


img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	opacity: 1;
}

body{ margin:0; height:100%;} 

li{margin-left:30px;}

ol,ul{margin-left:10px;}

h1{
	text-align: center;
	font-family: SimHei;
	font-weight: bold;
}
h2{
	text-align: center; 
	color: #696969;
	font-size: 17px;
	margin-left: 0%;
}


.ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    margin: auto;
}

.ribbon:after,
.ribbon:before {
    margin-top: 0.5em;
    content: "";
    display: flex;
    ;
    border: 1.5em solid #fff;
}

.ribbon:after {
    border-right-color: transparent;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon a:link,
.ribbon a:visited {
    color: #000;
    text-decoration: none;
    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background: #fff;
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}



#foot {
  width: 100%;
  overflow: hidden;
  background: #c9c9c9;
  margin-top: 0px;
}
#foot ul {
  padding-bottom: 20px;
}
#foot li {
  width: 360px;
  float: left;
  list-style: none;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
#foot li h1 {
  font-size: 30px;
  color: #424848;
  padding: 30px 0 0 100px;
}
#foot li h2 {
  font-size: 18px;
  color: #424848;
  font-weight: normal;
  line-height: 40px;
  margin-top: 30px;
  padding-left: 50px;
}
#foot li h3 {
  font-size: 14px;
  color: #424848;
  font-weight: normal;
  line-height: 40px;
  padding-left: 60px;
}
#foot li a {
  margin-left:78px;
  font-size: 14px;
  margin-top: 20px;
  color: #424848;
}
#foot li a:hover {
  text-decoration: underline;
}
#foot li img {
  padding-top: 10px;
}
.clear {
  clear: both;
}
.footer {
  width: 100%;
  overflow: hidden;
  height: 80px;
  text-align: center;
  border-top: 1px solid #333;
  font-size: 14px;
  color: #0;
  line-height: 80px;
}
.footer p {
  text-decoration: underline;
  text-align: center;

}
.footer span {
  font-style: italic;
}